.title {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;

  font-size: 40px;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.center {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

#birthday {
  margin-right: 10px;
}

#year {
  display: flex;
  justify-content: space-around;
}

#weeks {
  display: flex;
  width: 75%;
  flex-direction: column;
  margin:0 auto;
}

.week {
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.week:hover{
  background-color: #000000;
}

@media (max-width: 1080px) {
 #weeks {
  display: flex;
  width: 95%;
 }
 .week {
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-color: black;

  border-radius: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}
}
